# Backend
SECRET_KEY_BASE="mix phx.gen.secret"
ADMIN_EMAIL=admin@mail.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin123!

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=timemanager_dev

#Traefik
TRAEFIK_EMAIL=gaetan.dupuy@epitech.eu.com
TRAEFIK_HOST=timemanager.freeboxos.fr