
#layout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    background-color: #fff;
    min-height: 100vh;
}

#layout.dark-mode {
    background-color: #18181b;
}

h1, h2, h3, h4, h5, h6{
    color: #000000;
}

.dark-mode{
    h1, h2, h3, h4, h5, h6{
        color: #FFFFFF;
    }
}